[package]
name = "chess"
version = "0.1.0"
edition = "2021"

[lib]
name = "chess"
path = "src/lib.rs"

[[bin]]
name = "chess"
path = "src/main.rs"

[[bin]]
name = "chess-gui"
path = "src/bin/gui.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "0.8.5"
static_init = "1.0.3"
iced = {version="0.6", features=["svg", "glow"]}

[profile.release]
debug = 0
lto = true
codegen-units = 1
opt-level = 3
panic = "abort"

[profile.test]
opt-level = 3 # optimise for performance heavy perft tests
